
body{
  background : linear-gradient(180deg, lightyellow, orange);
}

.titre{
  text-align: center;
}

.zoneSaisie{
  
  
  width: 920px;
  margin-left: auto;
  height: auto;
  margin-right: auto;
  
  text-align: center;
  border: black;
  border-style: solid;
  
  
}


img{
  height: 45px;
  width: 45px;
  float: left;

}





.bonjour_nom{
  color: aliceblue;
  text-align: right;
}



.titre {clear:left; float:left;}

.boxLabel {
  width: 100px;
}

div#lignes {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.libelForm {
display: flex;
justify-content: center;
}

.label {
  float: left;
    width: 150px;
}


.flex {
  display: flex;
	flex-flow: row wrap;

	list-style: none;
	margin: 0;


	padding: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

.flex__elem {
  display: block;
}

.flex-elem {
  display: block;
}


/* boutton valider */ 
.boutton{
     font-family: Arial,sans-serif;
     font-size: 1.6em;
     width: 200px;
     height: 43px;
     padding-top: 7px; 
     text-align: center;
     color: #000;
     background: #444;
     
     background: #444;
     background: linear-gradient( #555, #2C2C2C);
     border-radius: 8px;
     text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
     box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
                 0 -1px 0 rgba( 255, 255, 255, 0.4);
}
.boutton:hover{
    color: #222;
    background: #555;
    background: linear-gradient( #777, #333);
}
.boutton:active{
  color: #000;
  background: #444;
  background: linear-gradient( #555, #2C2C2C);
  box-shadow: 1px 1px 10px black inset, 
              0 1px 0 rgba( 255, 255, 255, 0.4);
}
 /* fin du boutton validé */ 


